* {
   font-family: Arial, Helvetica;
}

body {
    background-color: lightcyan;
}

#wrapper {
    display: block;
    width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: papyrus, Textura, Georgia;
    font-style: bold;
    font-size: 300%;
    color: black;
}

.zia-background {
	width: 600px;
	height: 400px;
    margin: auto;
	background-color: #FFD700;
    border: 2px solid black;
    position: relative;
}

.absolute {
    position: absolute;
}

#zia-ring {
    width: 60px;
    height: 60px;
    border: 6px solid #BF0A30;
    border-radius: 50%;
    top: 40.5%;
    left: 44%;
}

#zia-top-line-one {
    top: 30%;
    left: 46%;
    border-left: 7px solid #BF0A30;
    border-radius: 10px;
    height: 58px;
}

#zia-top-line-two {
    top: 26%;
    left: 48.3%;
    border-left: 7px solid #BF0A30;
    border-radius: 10px;
    height: 68px;
}

#zia-top-line-three {
    top: 26%;
    left: 50.6%;
    border-left: 7px solid #BF0A30;
    border-radius: 10px;
    height: 68px;
}

#zia-top-line-four {
    top: 30%;
    left: 52.9%;
    border-left: 7px solid #BF0A30;
    border-radius: 10px;
    height: 58px;
}

#zia-bottom-line-one {
    top: 54.6%;
    left: 46%;
    border-left: 7px solid #BF0A30;
    border-radius: 10px;
    height: 58px;
}

#zia-bottom-line-two {
    top: 56%;
    left: 48.3%;
    border-left: 7px solid #BF0A30;
    border-radius: 10px;
    height: 68px;
}

#zia-bottom-line-three {
    top: 56%;
    left: 50.6%;
    border-left: 7px solid #BF0A30;
    border-radius: 10px;
    height: 68px;
}

#zia-bottom-line-four {
    top: 54.6%;
    left: 52.9%;
    border-left: 7px solid #BF0A30;
    border-radius: 10px;
    height: 58px;
}

#zia-left-line-one {
    top: 53.6%;
    left: 36.65%;
    border-top: 7px solid #BF0A30;
    border-radius: 10px;
    width: 58px;
}


#zia-left-line-two {
    top: 50.3%;
    left: 34%;
    border-top: 7px solid #BF0A30;
    border-radius: 10px;
    width: 68px;
}

#zia-left-line-three {
    top: 47%;
    left: 34%;
    border-top: 7px solid #BF0A30;
    border-radius: 10px;
    width: 68px;
}

#zia-left-line-four {
    top: 43.7%;
    left: 36.65%;
    border-top: 7px solid #BF0A30;
    border-radius: 10px;
    width: 58px;
}

#zia-right-line-one {
    top: 53.6%;
    left: 53.6%;
    border-top: 7px solid #BF0A30;
    border-radius: 10px;
    width: 58px;
}


#zia-right-line-two {
    top: 50.3%;
    left: 54.65%;
    border-top: 7px solid #BF0A30;
    border-radius: 10px;
    width: 68px;
}

#zia-right-line-three {
    top: 47%;
    left: 54.65%;
    border-top: 7px solid #BF0A30;
    border-radius: 10px;
    width: 68px;
}

#zia-right-line-four {
    top: 43.7%;
    left: 53.6%;
    border-top: 7px solid #BF0A30;
    border-radius: 10px;
    width: 58px;
}

.ring-center {
    top: 42%;
    left: 45%;
    width: 40px;
    height: 40px;
    border: 10px solid #FFD700;
    border-radius: 50%;
}

#ZiaColorButton, #BackgroundColorButton, #SwapColorsButton {
    width: 300px;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
    background-color: mediumturquoise;
    border: 2px solid #000;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#ZiaColorButton:active, #BackgroundColorButton:active, 
#SwapColorsButton:active {
    background-color: orange;
}

#selections {
    text-align: center;
    margin-top: 45px;
    width: 100%;
}

#selections input {
    position: relative;
    top: 15px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#selections label {
    margin-right: 10px;
}

#SwapColorsButton {
    margin-top: 45px;
    width: 500px;
}

footer {
    font-size: small;
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;
}

@media screen and (max-width: 618px) {
    .zia-background {
        transform: scale(0.8);
    }
}
